
<p class="lead">JUMJUM - instagram photos in realtime</p>
<small>API Endpoints:</small>
<ul>
    <li><a href="/subscriptions">subscriptions</a></li>
    <li><a href="/subscribe/tag/hksn">subscribe/tag/hksn</a></li>
    <li><a href="/subscribe/location/1257285">subscribe/location/1257285</a></li>
    <li><a href="/delete/2376967">delete/2376967</a></li>
</ul>
<div class="stage"></div>



{{#extend "scripts"}}
<script src="/socket.io/socket.io.js"></script>
<script>
  function push(payloadArray) {
    console.log(payloadArray);
    $.each(payloadArray, function (index, payload) {
        var img_tag = "<img src='" + payload.url + "' width='200px' height='200px'/>";
        $('.stage').prepend(img_tag);
    });
  }

  var socket = io.connect('http://localhost');

  socket.on('image', function (payloadArray) {
    // payload shoud be an array of image objects
    push(payloadArray);
  });
</script>
{{/extend}}