<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <!-- <link rel='stylesheet' href='/css/bootstrap-responsive.css'> -->

    {{{block "stylesheets"}}}
  </head>

  <body>
    {{{body}}}

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    {{{block "scripts"}}}
  </body>
</html>
