<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <!-- <link rel='stylesheet' href='/css/bootstrap-responsive.css'> -->

    {{{block "stylesheets"}}}
  </head>

  <body>
    {{{body}}}

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    -->
    {{{block "scripts"}}}
  </body>
</html>
